<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./css/bootstrap.min.css">
    <title>Document</title>
</head>
<body>
    <div class="d-flex align-items-center justify-content-center flex-column">
        <Form method="post" action="dashboard" class="m-5 p-5" style="border: 1px solid rgb(129, 129, 129);
        border-radius:15px; width:50%">
           <label class="form-label">Enter Your Name</label>
           <input type="text" id="username" name="username" class="form-control"></input>
           <label class="form-label">Enter Your Password</label>
           <input type="text" id="password" name="password" class="form-control "></input>
           <button id="Login" class="btn btn-primary mt-3" style="width: 150px;" name="action" value="login">
               Login 
           </button>
       </Form>
       <h5>No Account Yet?</h5>
            <a href="register">Register</a>
    </div>
</body>
<script type="text/javascript">
    document.getElementById("Register").onclick = function () {
        location.href = "register";
    };
</script>
</html>